/* ./assets/css/tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* header组件的伪元素标签 */
  .subscript-header {
    @apply w-[12px] h-[3px] bottom-[-10px] bg-black block absolute  left-1/2 -translate-x-1/2;
    content: "";
  }
  /* 2.个人介绍 */
  .subscript-pInfo {
    @apply w-[10px] h-[3px] bottom-[-20px] bg-black block absolute;
    content: "";
  }
  /* 3.基本信息 and 联系我 */
  .subscript-pInfo1 {
    @apply w-[40px] h-[4px] bottom-[-25px] bg-black block absolute;
    content: "";
  }

  /* 3.技能卡部分 */
  .subscript-skills {
    @apply w-[12px] h-[3px] bottom-[-10px] bg-black block absolute;
    content: "";
  }

  /* 垂直文字 */
  .vertical-rl {
    writing-mode: vertical-rl;
  }

  /* 延迟 */
  .animation-200 {
    animation-delay: 200ms !important;
  }
  .animation-300 {
    animation-delay: 300ms !important;
  }
  .animation-500 {
    animation-delay: 500ms !important;
  }
  .animation-700 {
    animation-delay: 700ms !important;
  }
  .animation-1000 {
    animation-delay: 1000ms !important;
  }
}
